extends base
block content
		div.add-word-box
			input(type="text" placeholder="word" id="word")
			input(type="text" placeholder="meaning" id="mean")
			div#add add
		div#word-list 
		
block scripts
	script(src="src/client/js/wordFunc.js") 